html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
}


.logo-box {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-bottom: 20px;
}

.btn {
	width: 210px;
	height: 53px;
	background: none;
	border: 4px solid #6F6CB1;
	border-radius: 12px;
	font-size: 25px; 
	cursor: pointer;
	color: #6F6CB1;
}

.git ul {
	position: absolute;
	top: 3%;
	right: 2.1%;
	padding: 0;
	margin: 0 0 0 0;
	transform: translate(-3%, 0, -2.1%, 0);
}

.git ul li {
	list-style: none;
	margin: 0 0 0 0;
}

.git ul li .fab {
	font-size: 55px;
	line-height: 60px;
	color: #5F5F5F;
}